// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use "@angular/material" as mat;
@use "./app/styles/_theme-colors.scss" as my-theme;
@use "mixins" as *;
@use "variables" as *;

html {
  @include mat.theme(
    (
      color: (
        primary: my-theme.$primary-palette,
        tertiary: my-theme.$tertiary-palette,
      ),
      typography: Montserrat,
      density: 0,
    )
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  font-family: Montserrat;
}

h1 {
  font-family: Winky;
}

@each $name, $glyph in $font_size {
  .text-#{$name} {
    font-size: $glyph;
  }
}

@each $name, $glyph in $font-weights {
  .text-#{$name} {
    font-weight: $glyph;
  }
}

@each $name, $glyph in $font-colors {
  .text-#{$name} {
    color: $glyph;
  }
}
