@use "mixins" as *;

:host {
  display: block;
  width: 100%;
  min-width: fit-content;
}

.list {
  &_container {
    @include flex(column, flex-start);
    gap: 20px;
  }

  &_item {
    width: 100%;
  }
}

@include sm {
  .list {
    &_container {
      flex-direction: row;
      align-items: flex-start;
    }

    &_item {
      width: 300px;
      flex-shrink: 0;
    }
  }
}
